<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
    <title>Car-Bike Selling Company</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/admin">Admin Page</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Welcome to NTUA Car-Bike Selling Company</h1>
        <p>Your one-stop shop for buying and selling cars and bikes.</p>
        <img src="../static/images/store.jpg" alt="Welcome Image" style="width:50%; max-width:800px; border-radius:10px; margin:20px 0;">
        <section>
            <p>Our Website is under construction. Please visit us later.</p>
            <img src="../static/images/store2.jpg" alt="Search Image" style="width:50%; max-width:800px; border-radius:10px; margin:20px 0;">
        </section>
    </main>
</body>
</html>